*{
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
}

kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    /* vertical-align: top; */
}

kbd>button{
    position:absolute;
    top:24px;
    left:24px;
    display:none;
}

kbd:hover>button{
    display:inline-block;
}

main{
    text-align: center;
}

#Main{
    display: inline-block;
}

#Main div:nth-child(2){
    /* margin-left:1em; */
}

#Main div:nth-child(3){
    /* margin-left:2em; */
}